#customers {
  font-family: Arial, Helvetica, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
  border: 1px solid #ddd;
  margin: 10px;
  border-radius: 8px; /* Add border-radius here */
}

#customers td,
#customers th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

#customers th {
  border-left: none;
  border-right: none;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  background-color: #f8fafc;
}

#customers tr:nth-child(even) {
  /* background-color: #f2f2f2; */
}

#customers tr:hover {
  background-color: #ddd;
}

.pagination {
  display: flex;
  justify-content: right;
  margin: 10px;
  float: right;
  width: 100%;
}
.pagination button {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ddd;
}
.table_text {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.role_td {
  background-color: #ecfdf3;
  color: #027a48;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 40px;
  width: fit-content;
  padding: 5px;
}
.subsrctiption_status {
  color: #b54708;
  background-color: #fffaeb;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 40px;
  width: fit-content;
  padding: 5px;
}
.ltr{
  direction: ltr !important;
}
.pagination button.active {
  background-color: #ddd;
}
.customer_metric_text {
  width: auto;
  padding-left: 10px;

  height: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}
.pagination button:hover:not(.active) {
  background-color: #ddd;
  color: black;
}
